@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap%22");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  height: 100vh;
}

.iconos {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.navbar {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 111;
  padding: 30px 0;
  font-weight: 600;
  /* color: #404040; */
  align-items: center;
  /* justify-content: space-around; */
  justify-content: space-evenly;
}

.navbar-scroll {
  background: #ff9f00;
  color: white;
}

.nav_ul li {
  display: inline-block;
  margin-right: 1em;
  position: relative;
}

.navbar li a{
   color: #404040;
}

.show{
  left: 0;
}

.link {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

.btn_menu{
  margin-right: 30px;
  font-size: 25px;
  color:#fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* .show{
  top:65px
} */

.active,
.link:hover {
  color: white;
  border-bottom: 2px solid;
}

.fa-cart-plus:before {
  padding: 20px;
  content: "\f217";
}

.imagen {
  margin-left: 10px;
  width: 100px;
  margin-top: 10px;
}

.botons {
  border: 1px solid white;
  border-radius: 50px;
  background-color: white;
  padding: 10px;
}


/*Home*/

.home {
  display: flex;
  height: 100vh;
  color: #404040;
  min-height: 500px;
  font-family: "Lato", sans-serif;
}

.home .max-width {
  margin: auto;
  /* padding-left: 20px; */
}

.home .home-content {
  display: flex;
  flex-wrap: wrap;
  /* flex-wrap: nowrap; */
  margin-top: 60px;
  align-items: flex-end;
  justify-content: space-between;
}

.home .home-content .text-home {
  width: 45%;
}

.home .home-content .burguer {
  width: 50%;
}

.home .home-content .text-1 {
  font-size: 75px;
  font-weight: 800;
}

.home .home-content .text-2 {
  font-size: 20px;
  margin: 5px 0;
}

.home .home-content a {
  display: inline-block;
  background: #ff9f00;
  color: #fff;
  font-size: 25px;
  padding: 12px 100px;
  margin-top: 20px;
  margin-bottom: 62px;
  border-radius: 60px;
  border: 3px solid #ff9f00;
  transition: all 0.3 ease;
}

.home .home-content a:hover {
  color: #ff9f00;
  border: 3px solid #ff9f00;
  background: none;
}


/*section secondaria*/
.second2{
  /* height: 500px; */
  width: 1000px;
  padding: 6rem 0;
  margin: auto;
  margin-top: 50px;
}

.main{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 100%;
  grid-template-areas: "specsImage specsBanners";
}

.specs-image{
  display: flex;
  width: 100%;
  height: 100%;
  grid-area: "specsImage";
}

.specs-image img{
  width: 100%;
  height: 90%;
  margin-top:20px;
  margin-left: 10px;
}

.banners{
  padding-right: 50px;
  grid-area: "specsBanners";
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas: "bannerOne bannerTwo" "bannerThree bannerFour";
}

.banner{
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
}

#banner3,#banner4{
  margin-top: -30px;
}

.title{
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
}

.title i{
  justify-self: flex-start;
  color: white;
  /* background-color: #cb3711; */
  background-color: #AF3A1B;
  transform: scale(1.5);
  padding: 0.17em;
  border-radius: 100%;
  margin-right: 20px;
}

#feed{
  margin-right: 10px;
}

.banner p{
  vertical-align: middle;
  margin-top: 30px;
  text-align: left;
}

/*section secondaria*/
/*catalogue*/
/*cards*/
.catalogue{
  text-align: center;
  margin-top: 140px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
}

.cards {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
}

.cards .card {
  width: 300px;
  margin: 0 2rem;
  position: relative;
  padding: 10px;
}

.card i{
  position: absolute;
  bottom: 0;
  right: 0;
}
/*catalogue*/

/*responsive Home Theo*/
@media (max-width: 1230px){

  .home .home-content{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .home .home-content .text-home{
    width: 500px;
    margin-top: 50px;
    text-align: center;
  }
  .home .home-content .burger {
      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .home .home-content .burger img{
     margin-top: -45px;
      width: 60%;
  }
  .home .home-content .text-1{
      font-size: 50px;
  }
  .home .home-content .text-2{
      font-size: 25px;

  }
  .home .home-content a{
      font-size: 23px;
  }
  .max-width{
      max-width: 800px;

  }
}

@media (max-width: 840px){
  .home .home-content .text-home{
      width: 300px;
      padding: 0;
      text-align: center;
  }
  .home .home-content .burger {
      display: none;
  }
  .max-width{
      max-width: 500px;
  }
}

@media (max-width: 400px){
  .home .home-content .text-home{
      width: 280px;
      padding: -10;
      text-align: center;
  }
  .home .home-content .burger {
      display: none;
  }
  .max-width{
      max-width: 100px;
  }
}

/*responsive fin Home Theo*/

/*section secondaria*/
/* @media(max-width:1230px){
  .main{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
  } 
} */

/*navbar*/
@media(max-width:1230px){
 /* .navbar{
   padding-left: 20px;
 } */
}


@media(max-width:991px){
  .imagen{
    padding-left: 25px;
  }.second2{
 max-width: 100%;

}.main{ /*hamburger exploded*/
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 400px;
}
.banners{
  display: flex;
  flex-direction: column;
}
#banner3,#banner4{
  margin-top: 10px;
}
}

/* @media (max-width: 400px){
  .second2{
    width: 20vh;
  }
} */

/*** tablet mode ******/
@media(max-width: 720px){
  .imagen{
    padding-left: 25px;
  }
  .second2{
    padding: 1rem;
    margin: 0;
  }
  
  .btn_menu{
    display: block;
    color: rgb(201, 201, 201);
  }

  .nav_ul {
    position: absolute;
    z-index: 0;
    background: #ff9f00;
    top: 80px;
    width: 100%;
    height: 100vh;
    transform: translateY(calc(-100% - 80px));
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .show {
    transform: translateX(0);
  }
  .nav_ul li{
   display: inline-block;
   margin: 30px 0 0 0;
   line-height: 30px;
  }
  .main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }
  .banners{
    display: flex;
    flex-direction: column;
  }
  #banner3,#banner4{
    margin-top: 10px;
  }
}

/* Moblie mode **/
@media (max-width: 480px){
  .second2{
    width: 20vh;
  }
  .btn_menu{
    display: block;
    color: rgb(201, 201, 201);
  }

  .nav_ul {
    position: absolute;
    z-index: 0;
    background: #ff9f00;
    top: 80px;
    width: 100%;
    height: 100vh;
    transform: translateY(calc(-100% - 80px));
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .show {
    transform: translateX(0);
  }
  .nav_ul li{
   display: inline-block;
   margin: 30px 0 0 0;
   line-height: 30px;
  }
}